nav {
   		font-size: 15px; 
   		margin-left: 40px; 
   		margin-top: 10px; 
   		float: left;
   	}

   	#poza {
   		margin-left: 50px;
   		float: left
   	}

   	#HOME {
   		clear: left;
   		margin-left: 60px
   	}

   	#photo-article {
   		margin-top: 10px;
   	    margin-left: 50px
   	}

   	.image {margin-top: 25px;
   		   margin-right: 30px;
   		   float: right;
   		   height: 50px;
   	}

   	.article {
   		position: absolute;
   		top: 37%;
   		left: 8%;
   		font-size: 50px;
   		color: white;
   		text-shadow: 2px 2px black;
   	}

   	.blackbar {
   		background: black; 
   		height: 30px;
   	}

    .button {float: right; background: black; color: white; height: 30px
   	}